.game-easy {
    display: grid;
    grid-auto-rows: minmax(5rem, auto);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
        ". . . . . icon"
        ". box1 box1 box1 box1 ."
        ". box2 box2 box2 box2 ."
        ". box3 box3 box3 box3 .";
    row-gap: 3rem;

    & .game__help {
        justify-self: center;
    }
}

.game-hard {
    display: grid;
    gap: 3rem;
    grid-auto-rows: minmax(5rem, auto);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        ". icon"
        "box1 box2"
        "box3 box4"
        "box5 box6";
    padding: 0 4rem;

    & .game__help {
        justify-self: end;
    }
}

.game-survival {
    display: grid;
    gap: 3rem;
    grid-auto-rows: minmax(5rem, auto);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "goal icon"
        "lives lives "
        "box1 box2"
        "box3 box4"
        "box5 box5";
    padding: 0 4rem;

    & .goal-survival {
        align-self: center;
        font-size: 2rem;
        grid-area: goal;
        justify-self: start;
        text-transform: uppercase;
    }

    & .game__help {
        justify-self: end;
    }

    & .lives-survival {
        align-self: center;
        font-size: 2.8rem;
        grid-area: lives;
        justify-self: center;
        text-transform: uppercase;
    }

    & .game__card--5 {
        justify-self: center;
        width: 46%;
    }
}

.game__help {
    align-self: center;
    color: $color-accent-1;
    cursor: pointer;
    font-size: 2.2rem;
    grid-area: icon;
    justify-self: center;
    -webkit-tap-highlight-color: transparent;
}

.game__card {
    border-radius: 1.5rem;
    box-shadow: $shadow;
    cursor: pointer;
    height: 8rem;
    width: 100%;
    -webkit-tap-highlight-color: transparent;

    &--1 {
        background-color: white;
        grid-area: box1;
    }
    &--2 {
        background-color: white;
        grid-area: box2;
    }
    &--3 {
        background-color: white;
        grid-area: box3;
    }
    &--4 {
        background-color: white;
        grid-area: box4;
    }
    &--5 {
        background-color: white;
        grid-area: box5;
    }
    &--6 {
        background-color: white;
        grid-area: box6;
    }
}