.hero {
    padding: 5rem;
    text-align: center;

    //* EASY MODE
    &--alternate {
        background-color: $color-primary-2;
        display: flex;
        flex-direction: column;
        height: 15.5rem;
        justify-content: space-between;
        padding-top: 3rem;
        text-align: center;

        & > h1 {
            padding-top: 1.5rem;
        }
    }
    
    &-info {
        align-items: center;
        background-color: $color-neutral-2;
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 1rem 2rem;

        &__item {
            color: $color-primary-1;
            font-size: 1.6rem;
            text-transform: uppercase;

            &:first-child {
                color: $color-primary-2;
                font-weight: bold;
            }
        }
    }

}