.main-menu {
    text-align: center;

    & > h2 {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: 2.5rem;
        position: relative;

        &::after {
            border-bottom: .3rem solid $color-accent-1;
            bottom: -.75rem;
            content: "";
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            width: 24.9rem;
            
        }

        & .icon-arrow {
            cursor: pointer;
            margin-right: 1rem;
        }
    }

    &-list {
        font-size: 1.8rem;
        list-style: none;
        text-transform: capitalize;

        &__item {
            position: relative;

            &::after {
                border-bottom: .2rem solid $color-accent-1;
                bottom: -.4rem;
                content: "";
                left: 50%;
                position: absolute;
                transform: translateX(-50%);
                width: 4.4rem;
            }

            &:not(:last-child) {
                margin-bottom: 3rem;
            }
        }
    }
}