*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $color-primary-1;
    background-image: url(../images/illustration.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 127%;
    box-sizing: border-box;
    color: $color-neutral-1;
    height: 100vh;
    overflow: hidden;
}