body {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}

.heading {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;

    &-primary {
        @extend .heading;
        font-size: 2.8rem;
        line-height: 1.3;
        text-transform: uppercase;

        & span {
            display: block;
        }
    }

    &-secondary {
        @extend .heading;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: capitalize;
    }
}