*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #2c3a47;
  background-image: url(../images/illustration.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 127%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #f7f1e3;
  height: 100vh;
  overflow-x: hidden;
}

body {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

.heading, .heading-primary, .heading-secondary {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.heading-primary {
  font-size: 2.8rem;
  line-height: 1.3;
  text-transform: uppercase;
}

.heading-primary span {
  display: block;
}

.heading-secondary {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.link {
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
  text-decoration: none;
}

.main-menu {
  text-align: center;
}

.main-menu > h2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2.5rem;
  position: relative;
}

.main-menu > h2::after {
  border-bottom: 0.3rem solid #33d9b2;
  bottom: -.75rem;
  content: "";
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 24.9rem;
}

.main-menu > h2 .icon-arrow {
  color: #33d9b2;
  cursor: pointer;
  margin-right: 1rem;
}

.main-menu-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.8rem;
  list-style: none;
  text-transform: capitalize;
}

.main-menu-list__item {
  cursor: pointer;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.main-menu-list__item::after {
  border-bottom: 0.2rem solid #33d9b2;
  bottom: -.4rem;
  content: "";
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 4.4rem;
}

.main-menu-list__item:not(:last-child) {
  margin-bottom: 3rem;
}

.game-easy {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: minmax(5rem, auto);
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas: ". . . . . icon" ". box1 box1 box1 box1 ." ". box2 box2 box2 box2 ." ". box3 box3 box3 box3 .";
  row-gap: 3rem;
}

.game-easy .game__help {
  -ms-grid-column-align: center;
      justify-self: center;
}

.game-hard {
  display: -ms-grid;
  display: grid;
  gap: 3rem;
  grid-auto-rows: minmax(5rem, auto);
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: ". icon" "box1 box2" "box3 box4" "box5 box6";
  padding: 0 4rem;
}

.game-hard .game__help {
  -ms-grid-column-align: end;
      justify-self: end;
}

.game__help {
  -ms-flex-item-align: center;
      align-self: center;
  color: #33d9b2;
  font-size: 2.2rem;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: icon;
      justify-self: center;
}

.game__card {
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 10px 12px rgba(19, 19, 19, 0.3);
          box-shadow: 0 10px 12px rgba(19, 19, 19, 0.3);
  height: 8rem;
  width: 100%;
}

.game__card:nth-child(2) {
  background-color: white;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: box1;
}

.game__card:nth-child(3) {
  background-color: white;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: box2;
}

.game__card:nth-child(4) {
  background-color: white;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: box3;
}

.game__card:nth-child(5) {
  background-color: white;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: box4;
}

.game__card:nth-child(6) {
  background-color: white;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: box5;
}

.game__card:nth-child(7) {
  background-color: white;
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: box6;
}

.gameover {
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.gameover__content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(2.5rem);
          backdrop-filter: blur(2.5rem);
  background-color: rgba(19, 19, 19, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.gameover__content > h1 {
  margin-bottom: 5rem;
}

.hero {
  padding: 5rem;
  text-align: center;
}

.hero--alternate {
  background-color: #488d7f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 15.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3rem;
  text-align: center;
}

.hero--alternate > h1 {
  padding-top: 1.5rem;
}

.hero-info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #cad3c8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 1rem 2rem;
}

.hero-info__item {
  color: #2c3a47;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.hero-info__item:first-child {
  color: #488d7f;
  font-weight: bold;
}

.help {
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.help-content {
  background-color: #2c3a47;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(19, 19, 19, 0.4)), to(rgba(19, 19, 19, 0.01))), url(../images/illustration-simple.svg);
  background-image: linear-gradient(to top, rgba(19, 19, 19, 0.4), rgba(19, 19, 19, 0.01)), url(../images/illustration-simple.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 127%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". . . icon" "par1 par1 par1 par1" "rgb-model rgb-model rgb-model rgb-model" "par2 par2 par2 par2" "par3 par3 par3 rgb-white" "rgb-black par4 par4 par4" "par5 par5 par5 rgb-green";
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  height: 100%;
  left: 0;
  padding: 0 2rem;
  position: absolute;
  top: 0;
  width: 100%;
}

.help-content__icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #33d9b2;
  font-size: 2.2rem;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: icon;
  -ms-grid-column-align: end;
      justify-self: end;
}

#par1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: par1;
}

#par2 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: par2;
}

#par3 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: par3;
}

#par4 {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: par4;
}

#par5 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: par5;
}

.rgb-model {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

.rgb-model {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: rgb-model;
  -ms-grid-column-align: center;
      justify-self: center;
}

.rgb-white {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
  grid-area: rgb-white;
}

.rgb-black {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: rgb-black;
}

.rgb-green {
  -ms-grid-row: 7;
  -ms-grid-column: 4;
  grid-area: rgb-green;
}

.paragraph {
  font-size: 1.2rem;
  line-height: 1.5;
}

.options-menu {
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(2.5rem);
          backdrop-filter: blur(2.5rem);
  background-color: rgba(19, 19, 19, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.content > h1 {
  margin-bottom: 5rem;
}
