*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #2c3a47;
  background-image: url(../images/illustration.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 127%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #f7f1e3;
  min-height: 67.5rem;
  overflow-x: hidden;
}

body {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

.heading, .heading-primary, .heading-secondary {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.heading-primary {
  font-size: 2.8rem;
  line-height: 1.3;
  text-transform: uppercase;
}

.heading-secondary {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.link {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
}

.main-menu {
  text-align: center;
}

.main-menu > h2 {
  margin-bottom: 2.5rem;
  position: relative;
}

.main-menu > h2::after {
  border-bottom: 0.3rem solid #33d9b2;
  bottom: -.75rem;
  content: "";
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 24.9rem;
}

.main-menu-list {
  font-size: 1.8rem;
  text-transform: capitalize;
}

.main-menu-list__item {
  position: relative;
}

.main-menu-list__item::after {
  border-bottom: 0.2rem solid #33d9b2;
  bottom: -.4rem;
  content: "";
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 4.4rem;
}

.main-menu-list__item:not(:last-child) {
  margin-bottom: 2rem;
}

.hero {
  padding: 5rem;
  text-align: center;
}

.hero span {
  display: block;
}
